/* ==================================版心区域========================= */
.w {
    width: 1200px;
    margin: 0 auto;
}

/* ==============================头部区域 ===================================*/
.header {
    height: 100px;
    background-color: #fff;
    /* line-height: 100px; */
    padding-top: 29px;
}

.header .logo {
    float: left;
    width: 195px;
    height: 41px;
    margin-right: 102px;
}

.header .nav {
    float: left;
    /* width: 244px; */
    /* height: 35px; */
    /* 96-8-25=63 */
    margin-right: 63px ;
}

.header .nav li {
    float: left;
    margin-right: 24px;
}

.header .nav li a {
    display: block;
    /* 宽度由内容和padding撑开 */
    /* width: 54px; */
    height: 41px;
    /* background-color: pink; */
    padding: 0 8px;
    font-size: 19px;
    text-align: center;
    line-height: 41px;
}

.header .nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}
.header .search {
    float: left;
    margin-right: 32px;
}

.header .search input{
    /* input是行内块 */
    /* display: block; */
    width: 412px;
    height: 41px;
    background-color: #f3f5f7;
    border: 0;
    /* 清除轮廓线 */
    outline: 0;
    border-radius: 20px;
    padding-left: 19px;
}
.header .search input::placeholder {
    color: #999;
}

.header .user {
    float: left;
    /* height: 41px; */
    line-height: 41px;
}

.header .user img {
    /* float: left; */
    vertical-align: middle;
    margin-right: 7px;
}
.header .user span {
    /* float: left; */
    color: #666;
    font-size: 16px;
}


/* ===============================封面区域======================== */
.banner {
    height: 420px;
    background-color: #0092cb;
}
.banner .w {
    background: url(../uploads/banner.png) no-repeat;
}

.banner .banner-l {
    float: left;
    width: 191px;
    height: 420px;
    background-color: rgba(0,0,0,.4);
    padding-top: 3px;
}
.banner .banner-l li {
    height: 46px;
    line-height: 46px;
    padding: 0 20px;
}
.banner .banner-l li a {
    color: #fff;
    font-size: 16px;
}
.banner .banner-l li a:hover {
    color: #00a4ff;
}
.banner .banner-l li span {
    float: right;
    font-family: 'simsun';
}

.banner .banner-r {
    float: right;
    width: 218px;
    height: 305px;
    background-color: rgba(255, 255, 255, .1);
    margin-top: 60px;
    /* padding: 18px 14px 0; */
    border-radius: 10px;
}
.banner .banner-r h4 {
    color: #fff;
    font-size: 15px;
    /* height: 48px; */
    /* line-height: 20px; */
    padding-top: 18px;
    padding-left: 14px;
    margin-bottom: 9px;
}
.banner-ke {
    /* width: 218px; */
    height: 257px;
    background-color: #fff;
    padding: 14px 14px 0;
    border-radius: 10px;
}
.banner-ke li {
    /* height: 61px; */
    padding-bottom: 9px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 12px;
}
.banner-ke li a {
    /* color: #333; */
    /* font-size: 14px; */
    font-weight: 700;
    /* line-height: 20px; */
}
.banner-ke li p {
    color: #7d7d7d;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}
.banner-ke li p span {
    color: #00a4ff;
}
.banner-ke a.ke-all {
    display: block;
    /* width: 190px; */
    height: 32px;
    background-color: #00a4ff;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    border-radius: 16px;
}

/* 推荐条区域 */
.recommend {
    /* height: 60px;
    padding: 18px 20px; */
    /* 单行文本用行高居中 */
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    background-color: #fff;
    margin-top: 10px;
    font-size: 18px;
    box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
}
.recommend h2 {
    float: left;
    color: #00a4ff;
    font-size: 18px;
    margin-right: 20px;
}
.recommend ul {
    float: left;
}
.recommend ul li {
    float: left;
}
/* .recommend ul li a {
    float: left;
} */
.recommend ul li span {
    margin: 0 24px;
}
.recommend a.recommend-mod {
    float: right;
    color: #00a4ff;
    font-size: 16px;
}

/* ================================通用课程卡片代码================================ */
.hd {
    height: 60px;
    line-height: 60px;
}
.hd h2 {
    float: left;
    color: #333;
    font-size: 21px;
    /* 这里固定宽度的目的是因为每个标题字多少不一样 */
    width: 228px;
    /* background-color: red; */
}
.hd a {
    float: right;
    color: #999;
    font-size: 14px;
}
.hd a span {
    margin-left: 10px;
    font-family: 'simsun';
}
/* .bd {
    height: 556px; 
    background-color: pink;
} */
.bd li {
    float: left;
    width: 228px;
    height: 271px;
    background-color: #fff;
    /* 清除img空格 */
    font-size: 0;
    margin-right: 15px;
}
.bd li a {
    display: block;
    /* width: 228px; */
    height: 271px;
}
.bd li h3 {
    /* 给h3一个高度，无论几行，它的高度固定，不会影响布局 */
    height: 40px;
    font-size: 14px;
    margin: 20px 20px 13px;
}

.bd li p {
    color: #999;
    font-size: 14px;
    margin-left: 20px;
}
.bd li p span {
    color: #fa6400;
}

/* 带中间导航栏的hd */
.hd ul {
    float: left;
    margin-left: 218px;
}

.hd ul li {
    float: left;
    padding-right: 60px;
}

.hd ul li a {
    color: #333;
    font-size: 16px;
}

.hd ul li a.active {
    color: #00a4ff;
}

/* ==================课程区域================================= */
.good,
.web,
.python,
.ai,
.java {
    margin-top: 17px;
}

/* 精品推荐 */
.good .bd li:nth-child(5n) {
    margin-right: 0;
}

.good .bd li:nth-child(-n+5) {
    margin-bottom: 14px;
}

/* web python */
.web .bd .left {
    float: left;
    width: 228px;
    height: 386px;
    background: url(../uploads/web_left.png) no-repeat;
    margin-right: 15px;
}

.web .bd .right .right-t {
    width: 957px;
    height: 100px;
    background: url(../uploads/web_top.png) no-repeat;
    margin-bottom: 15px;
}

.python .bd .left {
    float: left;
    width: 228px;
    height: 386px;
    background: url(../uploads/python_left.png) no-repeat;
    margin-right: 15px;
}

.python .bd .right .right-t {
    width: 957px;
    height: 100px;
    background: url(../uploads/python_top.png) no-repeat;
    margin-bottom: 15px;
}

.bd .right {
    float: right;
}

.bd .right .right-b li:last-child {
    margin-right: 0;
}

/* ai java */
.bd .right-b li:last-child {
    margin-right: 0;
}


/* ========================================页脚区域============================== */
.footer {
    overflow: hidden;
    height: 273px;
    background-color: #fff;
    /* 注意外边距合并 */
    margin-top: 60px;
}

.footer .w {
    height: 150px;
    margin-top: 60px;
    /* background-color: #eee; */
}

.footer-l {
    margin-right: 252px;
    float: left;
}

.footer-l img {
    margin-bottom: 24px;
}

.footer-l p {
    width: 432px;
    color: #666;
    font-size: 12px;
    margin-bottom: 14px;
}

.footer-l a {
    color: #00a4ff;
    font-size: 16px;
    display: block;
    width: 120px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border: 1px solid #00a4ff;
}

.footer-r {
    width: 516px;
    height: 151px;
    /* background-color: pink; */
    float: right;
}

.footer-r dl {
    /* width: 121px; */
    margin-right: 130px;
    float: left;
}

.footer-r dl:last-child {
    margin-right: 0;
}

.footer-r dl dt {
    color: #333;
    font-size: 16px;
    margin-bottom: 12px;
}

.footer-r dl dd a {
    color: #666;
    font-size: 14px;
    line-height: 24px;
}